doctype html
html(ng-app='app')
    head
        title Mini Flowtalk
        meta(chatset='ust-8')
        link(href='/dist/style/defaultSkin.css',rel='stylesheet')
    body(ng-view)
        script(src='/dist/js/app.js',type='text/javascript')
